html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  .body {
    font-family: monospace;
    font-size: x-large;
    width: 100%;
      background-color: rgb(92, 143, 161);
      display: flex;
      flex-direction: column;
      align-items: center;
      
  }
  h1 {
    margin: 0px 0px 0px 0px;
    color: #53A2BE;
  }
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0px 8px 0px;
    background-color: #132E32;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 20px;
    font-style: oblique;
  }

  .main {
    margin: 16px 0px 8px 0px;
    background-color: #132E32;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 20px;

  }
  .head {
    color: #53A2BE;
    text-align: center;
  }
  .form {
    color: #53A2BE;
    display: block;
  }

  .form__item {
    background-color: rgb(184, 211, 235);
    color: #53A2BE;
    width: 100%;
  }

  .form__fieldset {
    display: flex;
    flex-direction: column;
  }

  .check {
    display: flex;
    flex-direction: row-reverse;
  }