html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  .body {
    width: 100%;
      background-color: rgb(209, 119, 119);
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .head {
       text-align: center;
  }
  .form {
    display: block;
  }

  .form__item {
    width: 100%;
  }

  p {
    display: block;
  }